header
  color: #fff
  .container
    position: relative

.top-line
  padding-top: 18px
  padding-bottom: 30px
  .btn-wrap
    font-size: 14px
    float: right
    position: relative
    top: -3px
  .btn
    &:hover
      color: #fff

.logo
  display: inline-block
  padding-right: 8px
  border-right: 2px solid #fff

.logo-title
  display: inline-block
  margin-left: 15px
  vertical-align: top
  line-height: 1
  .title
    display: block
    font-size: 36px
    font-family: "DINCondensedCRegular", sans-serif
  .desc
    font-size: 16px
    font-family: "PTSansNarrow", sans-serif
    text-transform: uppercase

.mnu-line
  display: inline-block
  margin-left: 10px
  vertical-align: top

.main-mnu
  display: inline-block
  margin-top: 5px
  ul
    display: inline-block
  li
    display: inline-block
    font-size: 18px
    text-transform: uppercase
    margin-right: 13px
    +mt(.3s)
    &:last-child
      margin-right: 0
    &:hover
      color: #afd5fb

.head-phone
  font-size: 18px
  margin-top: 12px
  a
    +mt(.3s)
    &:hover
      color: #afd5fb

.head-s-phone
  text-align: center
  font-size: 18px
  margin-bottom: 10px

.main-head
  position: relative
  height: 1000px
  padding-bottom: 25px
.header-bg
  position: absolute
  left: 0
  right: 0
  top: 0
  bottom: 0
  overflow: hidden
  +bg-cover()
  &:after
    content: ''
    position: absolute
    left: 0
    top: 0
    right: 0
    bottom: 0
    background-color: rgba(#000, .4)
.video
  width: 100%
  height: auto
  position: absolute

.intro
  margin-top: 350px
  text-align: right
  font-size: 46px
  font-family: "PFDinTextPro-Bold", sans-serif
  line-height: 1
  text-transform: uppercase
  span
    font-size: 80px

.mm-logo
  margin-left: auto
  margin-right: auto
  transform: scaleY(.6)

.mm-menu_theme-dark
  background: $accent-blue

.mm-listitem:after, .mm-navbars_top
  border-color: rgba(#fff, .5)

.mm-listitem
  font-size: 16px
  text-transform: uppercase
  a
    padding-top: 12px
    padding-bottom: 12px

.isnohome
  .main-head
    height: inherit
    background-color: $accent-blue
    padding-bottom: 0
