@import vars


/*==========  Desktop First  ==========*/

// ≥1200px
+media-breakpoint-down(lg)
  .top-line
    padding-bottom: 18px
    .btn-wrap
      top: 5px


// ≥992px
+media-breakpoint-down(md)

// ≥768px
+media-breakpoint-down(sm)

  header
    position: relative

  .top-line
    padding-bottom: 30px
    .btn-wrap
      float: none
      text-align: center

  .toggle-mnu
    position: absolute
    right: 15px
    top: 18px
    left: auto

  .logo
    display: block
    text-align: center
    border-right: none

// ≥480px
+media-breakpoint-down(xs)
  .logo
    text-align: left
    .title
      font-size: 30px
    .desc
      font-size: 14px

/*==========  Mobile First  ==========*/

// ≤480px
+media-breakpoint-up(sm)

// ≤768px
+media-breakpoint-up(md)

// ≤992px
+media-breakpoint-up(lg)

// ≤1200px
+media-breakpoint-up(xl)
