@import vars


/*==========  Desktop First  ==========*/

// ≥1200px
+media-breakpoint-down(lg)
  .fix-div
    right: 15px
    bottom: 15px
    top: auto

  .intro
    margin-top: 200px
    font-size: 36px
    span
      font-size: 65px
  .main-head
    height: 515px

  .top-line
    padding-bottom: 18px
    .btn-wrap
      top: 5px


// ≥992px
+media-breakpoint-down(md)

  .section-head
    font-size: 36px

  .tizer
    font-size: 30px

  .intro
    text-align: left
    margin-top: 115px
  .main-head
    height: 400px


// ≥768px
+media-breakpoint-down(sm)

  .section-head
    font-size: 32px

  .fix-item
    padding: 7px
    img
      width: 20px
      height: 20px
      margin-bottom: 0
  .main-head
    height: auto

  .video
    display: none

  header
    position: relative

  .top-line
    padding-bottom: 30px
    .btn-wrap
      float: none
      text-align: center

  .toggle-mnu
    position: absolute
    right: 15px
    top: 18px
    left: auto

  .logo
    display: block
    text-align: center
    border-right: none

// ≥480px
+media-breakpoint-down(xs)

  .section-head
    font-size: 28px

  .toppr-slider-wrap
    .btn-blue
      width: 160px

  .prod-slider
    .owl-nav
      button.owl-prev
        left: 25px
      button.owl-next
        right: 25px

  .tizer
    font-size: 24px
    line-height: 1.3

  .main-head
    padding-bottom: 60px

  .intro
    font-size: 30px
    margin-top: 60px
    span
      font-size: 48px

  .logo
    text-align: left
    .title
      font-size: 30px
    .desc
      font-size: 14px

/*==========  Mobile First  ==========*/

// ≤480px
+media-breakpoint-up(sm)

// ≤768px
+media-breakpoint-up(md)

// ≤992px
+media-breakpoint-up(lg)

// ≤1200px
+media-breakpoint-up(xl)
